<h2>Calculator</h2>

<form asp-action="Result">
    <p>Number 1 input</p>
    <input type="number" name="num1" />

    <p>+<input type="radio" name="operation" value="+" /></p>
    <p>-<input type="radio" name="operation" value="-" /></p>
    <p>/<input type="radio" name="operation" value="/" /></p>
    <p>*<input type="radio" name="operation" value="*" /></p>

    <p>Number 2 input</p>
    <input type="number" name="num2" />

    <input type="submit" />
</form>